.link {
    position: relative;
    left: 5vw;
}

.container {
    justify-content: center;
}

.card-grid, .card {
    padding: 5px 5px !important;
    height: auto !important;
    justify-content: center;
    margin: 1rem;
}

.card {
    background: rgb(118, 134, 179);
    background: linear-gradient(90deg, rgba(118, 134, 179, 1) 0%, rgba(9, 39, 121, 1) 48%, rgba(118, 134, 179, 1) 100%);
}

.card-text {
    height: fit-content;
    margin-bottom: 2rem;
}

.cardGridItem {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
    gap: 20px;
}

/* Add the following media query for responsiveness */
@media screen and (max-width: 768px) {
    .link {
        left: 0; /* Adjust the left positioning for smaller screens */
    }

    .cardGridItem {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); /* Adjust the grid for smaller screens */
    }
}
